<h4 style="margin: 10px 0 10px 0;"><b>{{step}}</b></h4>
<div style="color:#808080;margin: 0 0 10px 0;"><span><i>{{{description}}}</i></span></div>
<hr><div style="margin: 0 0 10px 0;"></div>
{{{content}}}
