<div class="step-container col-md-12 mb-2 d-none" data-step="{{step}}">
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="highlight-step-instruction">
                <h4>{{#str}} steps_title, assignsubmission_pxaiwriter{{/str}} {{step}} </h4>
                <div class="mb-2">
                    <span> {{description}} </span>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-1 ">
            <div class="row">
                <div class="col-md-8 d-flex align-items-end">
                    <b><small class="remaining-ai-attempts">{{attempt_text}}</small></b>
                </div>
                {{#ai_expand_element}}
                    <div class="col-md-4 text-right actions-container">
                        {{#enabled_ai_actions}}
                            <button id="pxaiwriter-expand-selection" type="button" class="btn btn-secondary d-none" data-step="1">{{#str}} expand_selection, assignsubmission_pxaiwriter{{/str}}</button>
                        {{/enabled_ai_actions}}
                    </div>
                {{/ai_expand_element}}
            </div>
        </div>

        <div class="col-md-12 mb-1">
            <textarea {{readonly}} class="form-control pxaiwriter-student-data" data-input-step="{{step}}" name="pxaiwriter-data-step-{{step}}" placeholder="" style="width:100%" name="" id="" cols="40" rows="10">{{value}}</textarea>
        </div>

        {{#ai_element}}
            <div class="col-md-12 mb-1 actions-container">
                <div class="row">

                    <div class="input-group col-md-12 text  text-right  d-flex justify-content-end">
                        {{#enabled_ai_actions}}
                            <button id="pxaiwriter-do-ai-magic" type="button" class="btn btn-primary d-none" data-step="1">{{#str}} do_ai_magic, assignsubmission_pxaiwriter{{/str}}</button>
                        {{/enabled_ai_actions}}
                    </div>

                </div>
            </div>
        {{/ai_element}}

    </div>
</div>