    <div class="container-fluid p-0">

        <div id="pxaiwriter-input-steps-component" class="row">

            <div class="steps-container col-12 ">
                <div class="spinner d-none" id="loader">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="steps row ">
                    {{#steps_data}}
                    <div class="step-container col-md-12 mb-2 d-none" data-step="{{step}}">
                        <div class="row">
                        <div class="col-md-12">
                            <h4>{{#str}} steps_title, assignsubmission_pxaiwriter{{/str}} {{step}} </h4>
                            <div class="mb-2">
                                <span> {{description}} </span>
                            </div>
                        </div>
                        
                        <div class="col-md-12 mb-1 ">
                            <div class="row">
                                <div class="col-md-8 d-flex align-items-end"><b><small class="remaining-ai-attempts">Remaining AI attempt count</small></b></div>
                                {{#ai_expand_element}}
                                    <div class="col-md-4 text-right actions-container">
                                        <button id="pxaiwriter-expand-selection" type="button" class="btn btn-secondary d-none" data-step="1">{{#str}} expand_selection, assignsubmission_pxaiwriter{{/str}}</button>
                                    </div>
                                {{/ai_expand_element}}
                            </div>
                          </div>

                        <div class="col-md-12 mb-1">
                            <textarea {{readonly}} class="form-control pxaiwriter-student-data" data-input-step="{{step}}" name="pxaiwriter-data-step-{{step}}" placeholder="" style="width:100%" name="" id="" cols="40" rows="10">{{value}}</textarea>
                        </div>

                        {{#ai_element}}
                         <div class="col-md-12 mb-1 actions-container">
                            <div class="row">

                                <div class="input-group col-md-12 text  text-right  d-flex justify-content-end">
                                    {{! <input id="pxaiwriter-title" type="text" class="form-control pxaiwriter-student-data-title mr-1" data-input-step="{{step}" data-step="1" placeholder="{{#str} title_place_holder, assignsubmission_pxaiwriter{{/str}"> }}
                                    {{! <div class="input-group-append"> }}
                                        <button id="pxaiwriter-do-ai-magic" type="button" class="btn btn-primary d-none" data-step="1">{{#str}} do_ai_magic, assignsubmission_pxaiwriter{{/str}}</button>
                                    {{! </div> }}
                                </div>

                            </div>
                         </div>
                        {{/ai_element}}

                        </div>
                    </div>
                    {{/steps_data}}
                </div>

                {{#is_due_submission}}
                    <div class="row mb-1">
                        <div class="col-auto" style="color: red;">
                            <i>{{#str}} submission_due_msg, assignsubmission_pxaiwriter{{/str}}</i>
                        </div>
                    </div>
                {{/is_due_submission}}
                {{#exceeds_max_attempts}}
                    <div class="row mb-1">
                        <div class="col-auto" style="color: red;">
                            <i>{{#str}} ai_attempt_exceed_msg, assignsubmission_pxaiwriter{{/str}}</i>
                        </div>
                    </div>
                {{/exceeds_max_attempts}}

                <div class="actions-container mb-3 row d-flex justify-content-end">

                    <div class="col-6 text-left">
                        <button id="go-back" name="go-back" type="button" class="btn btn-secondary">{{#str}} previous, assignsubmission_pxaiwriter{{/str}}</button>
                    </div>
                    <div class="col-6 text-right">
                        <button id="advance" name="advance" type="button"
                            class="btn btn-secondary">{{#str}} next, assignsubmission_pxaiwriter{{/str}}</button>
                    </div>
       
                </div>

            </div>

        </div>



    <div class="modal fade" id="title-required-warning-modal" tabindex="-1" role="dialog" aria-labelledby="title-required-warning-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{#str}} title-required-warning, assignsubmission_pxaiwriter {{/str}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{#str}} close_button_label, assignsubmission_pxaiwriter {{/str}}</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="text-selection-required-warning-modal" tabindex="-1" role="dialog" aria-labelledby="text-selection-required-warning-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{#str}} selection-required-warning, assignsubmission_pxaiwriter {{/str}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{#str}} close_button_label, assignsubmission_pxaiwriter {{/str}}</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="max-attempt-exceeds-error-msg-modal" tabindex="-1" role="dialog" aria-labelledby="max-attempt-exceeds-error-msg-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{#str}} ai_attempt_exceed_msg, assignsubmission_pxaiwriter {{/str}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{#str}} close_button_label, assignsubmission_pxaiwriter {{/str}}</button>
            </div>
        </div>
        </div>
    </div>


    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

<style>
    .spinner {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        z-index: 9999;
    }
</style>
