<div class="alert alert-danger" role="alert">
    <strong>{{#str}}error_title, assignsubmission_pxaiwriter{{/str}}</strong>
    <p>{{err_msg}}</p>
    <small class="font-italic">{{#str}}error_contact_siteadmin, assignsubmission_pxaiwriter{{/str}}</small>
</div>