    <div class="container-fluid">

        <div id="pxaiwriter-input-steps-component" class="row">

            <div class="steps-container col-12">
                <div class="steps row ">
                    {{#steps_data}}
                    <div class="step-container col-md-12 mb-3 d-none" data-step="{{step}}">
                        <h4>{{#str}} steps_title, assignsubmission_pxaiwriter{{/str}} {{step}} </h4>
                        <div class="mb-2">
                           <span> {{description}} </span>
                        </div>
                        {{#isreadonly}}
                            <input id="pxaiwriter-title" type="text" class="form-control pxaiwriter-student-data-title mb-1" data-input-step="{{step}}" data-step="1" placeholder="{{#str}} title_place_holder, assignsubmission_pxaiwriter{{/str}}">
                        {{/isreadonly}}
                        <textarea {{readonly}} class="form-control pxaiwriter-student-data" data-input-step="{{step}}" name="pxaiwriter-data-step-{{step}}" placeholder="" style="width:100%" name="" id="" cols="40" rows="10">{{value}}</textarea>
                    </div>
                    {{/steps_data}}
                </div>
                <div class="row">
                    <div class="col-auto">
                        {{#is_due_submission}}
                            <i>{{#str}} submission_due_msg, assignsubmission_pxaiwriter{{/str}}</i>
                        {{/is_due_submission}}
                        {{#exceeds_max_attempts}}
                            <i>{{#str}} ai_attempt_exceed_msg, assignsubmission_pxaiwriter{{/str}}</i>
                        {{/exceeds_max_attempts}}
                    </div>
                </div>
                <div class="actions-container mb-3 row">
                    <div class="col-md-6 ">
                        <div class="row">
                            <div class="col-4">
                                <button id="go-back" name="go-back" type="button" class="btn btn-secondary">{{#str}} previous, assignsubmission_pxaiwriter{{/str}}</button>
                            </div>
                            <div class="col-4">
                                <button id="advance" name="advance" type="button"
                                    class="btn btn-secondary">{{#str}} next, assignsubmission_pxaiwriter{{/str}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            {{#enabled_ai_actions}}
                            <div class="col-auto">
                                <button id="pxaiwriter-expand-selection" type="button" class="btn btn-secondary d-none" data-step="1">{{#str}} expand_selection, assignsubmission_pxaiwriter{{/str}}</button>
                            </div>
                            <div class="col-auto">
                                <button id="pxaiwriter-do-ai-magic" type="button" class="btn btn-primary d-none" data-step="1">{{#str}} do_ai_magic, assignsubmission_pxaiwriter{{/str}}</button>
                            </div>
                            {{/enabled_ai_actions}}
                        </div>
                    </div>

                </div>

            </div>


        </div>



    <div class="modal fade" id="title-required-warning-modal" tabindex="-1" role="dialog" aria-labelledby="title-required-warning-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{#str}} title-required-warning, assignsubmission_pxaiwriter {{/str}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{#str}} close_button_label, assignsubmission_pxaiwriter {{/str}}</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="text-selection-required-warning-modal" tabindex="-1" role="dialog" aria-labelledby="text-selection-required-warning-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{#str}} selection-required-warning, assignsubmission_pxaiwriter {{/str}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{#str}} close_button_label, assignsubmission_pxaiwriter {{/str}}</button>
            </div>
        </div>
        </div>
    </div>


    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
