<div id="submisson_steps_section" style="display: block;">
    <div class="row">
        <div class="col-md-3">{{#str}} submission_step_label, assignsubmission_aiwriter {{/str}}</div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12" id="submisson_steps"></div>
                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-8 text-center"><button id="add_step_btn" class="btn btn-secondary" style="display: none;">{{#str}} add_step_label, assignsubmission_aiwriter {{/str}}</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

<script type="text/javascript">


</script>