<div class="row mb-2" id="step_{{step}}">
    <div class="col-md-3">{{#str}} guide_to_step_label, assignsubmission_aiwriter {{/str}} &nbsp;{{step}}</div>
    <div class="col-md-8"><textarea class="form-control" name="step_{{step}}_value" id="step_{{step}}_value">{{ description }}</textarea></div>
    <div class="col-md-1">
        {{#removable}} <button class="btn btn-danger" onclick="AddNewStep(event)">{{#str}} remove_step_label, assignsubmission_aiwriter {{/str}}</button> {{/removable}}
    </div>
</div>